.Exam *
{
    padding: 0px;
}
.Exam .el-card
{
    border: 2px solid #d1dbe500;
    border-radius: 14px;
}

.Exam .Exam-card
{
    width:16rem;
    height: 22rem;
}

.Exam .el-card  div
{
    padding: 0px;
}

.Exam img
{
    width: 100%;
}

