.el-submenu .el-menu-item:hover, .el-submenu__title:hover{
    background-color: unset;
}

.el-submenu
{
    background-color: #ff8a73;  
}
.el-submenu-title:hover{
    background-color: #ff8a73;
}
.el-menu {
    width: 21rem;
}

.el-submenu__title{
   color : #1e120f ;
}

.el-submenu__title span i {
    padding:  12px;
}
.el-menu-item-group
{
    background-color: #FFFFFF;
    padding: 4px;
}
