.Footer .el-menu 
{
    position: relative;
    height: 192px;
    background-color: #2D2D47;
}

.Footer li 
{
    position: absolute;
    left: 28rem;
    color: #B8B5BF;
    font-size: 17px;
}

.Footer p 
{
    color: #FFFFFF;
    margin-top: 4rem;
    margin-left: 33rem;
    font-size: 13px ;
  
}

.Footer p span 
{
    color: #FF8A73;
}

.Footer  .SocialLinks
{
    position: absolute;
    left: 36rem;
    top: 7rem;
}

.Footer .SocialLinks a 
{
    padding: 1rem;
    color: #B8B5BF;
}

