.QuestionSettings .SettingOptions {

    margin-top: 1rem ;
    z-index: 1px;
}

.QuestionSettings .SettingLabel
{
    position: absolute;
    top: .6rem;
    left: .5rem;

}

.QuestionSettings .SettingLabel2
{
    position: absolute;
    top: 5.5rem;
    left: .5rem;
}

.QuestionSettings .SettingOptions2 {

    margin-top: 3rem ;
  
}

.QuestionSettings .SettingLabel3
{
    position: absolute;
    top: 9.8rem;
    left: 8.5rem;
}

.QuestionSettings .QuestionSwitch
{
    top : .2rem;
}